@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');

html, body {

  
  display: flex;
  justify-content:center;
  align-items: center; 
  /*margin: 3rem 10rem 10rem;
  margin:auto;*/
  padding: 1rem 5rem 1rem; /* padding is superior to margin */
  font-family: "Fragment Mono", monospace;
  line-height: 1.3rem;

}

#mainholder{
  padding: 1rem 5rem 1rem;
  background-color: #A2D0E5;
  border-color:#238489;
  border-style:dotted;
}

#textOut{
  background-color: #238489;
}

#settingsHolder{
  padding: .5rem 1rem .5rem;
  border-color: #238489;
  background-color: #546EB7;
  display: flex;
  flex-direction: column;
  
  justify-content: space-evenly;
  /*
  justify-content: space-evenly;*/
}

#settingPart{
  
  padding: .5rem 1rem .5rem;
  
} 

canvas {
  background-color:#AABBAA;
  display: block;
  
}
a:link {
  color: #15A575;
}

a:active {
  color: #FFFFFF;
  }
  
a:visited {
 color: #01585E; 
}

a:hover{
 color: #00BA94; 
}
